{% extends 'magazine/base.html' %}

{% block content %}
    <span class="image">
    {% if post.image %}
        <img src='{{ post.image.url }}' class="img-responsive" />
    {% endif %}
    </span>
    {#        <div class="opis">#}
    <div class="post">
        {#            {% if post.published_date %}#}

        {#            {% endif %}#}

        <h1><span class="name"> {{ post.title }}</span></h1>
        <p>{{ post.text|linebreaks }}</p>
        <span class="value">{{post.cost}}</span>

        <h1 align="center">
{#            <a id = "post{{ post.author.id }}" class="btn btn-default" href="{% url 'cart' %}"><span class="glyphicon glyphicon-download"></span></a>#}
            <a href="#" class="buy"> <div class="btn btn-default"> <span style="font-family: 'Billabong'; font-size: 20px"> Add to cart </span></div></a>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                    class="glyphicon glyphicon-pencil"></span></a>
        </h1>
{#        <div class="date">#}
{#            {{ post.published_date }}#}
{#        </div>#}
    <div class="cart"> В Корзине товаров на <span class="sum"> 0 </span><br>
        <a class="oformit" onclick="ShowMoney()">Оформить заказ</a> </div>
    </div>
    <script type="text/javascript">
    $(function(){
            var arr1 = $.cookie('cart');
            if (!arr1) {
                arr1 = '[]';
            }
            var json2 = $.parseJSON(arr1);
        var sum1 = 0;
         $.each(json2, function(index, value) {
                sum1 = sum1 + parseInt(value['price']);
            });
            $('.cart .sum').text(sum1);

        $(".buy").click(function() {
            var arr = $.cookie('cart');
            if (!arr) {
                arr = '[]';
            }
            var json = $.parseJSON(arr);
            json.push({
                    "name":$('span.name').text(),
                    "price":$('span.value').text(),
                    "img":$('img.img-responsive').attr('src')
            });
            $.cookie('cart', JSON.stringify(json), {path : '/'});
            var sum = 0;
            $.each(json, function(index, value) {
                sum = sum + parseInt(value['price']);
            });
            $('.cart .sum').text(parseInt(sum))
        });

    });
    </script>
    <script>
    function ShowMoney() {
        var sum = $('.cart .sum').text();
        location.href = '/payment/cart/' + sum + '/';
    }
    </script>
    {#        </div>#}
{% endblock %}