{% extends 'magazine/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container content">
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-4">
                    <div class="post">
                        {#                <div class="date">#}
                        {#                    {{ post.published_date }}#}
                        {#                </div>#}
                        {% if post.image %}
                            <a href="{% url 'post_detail' pk=post.pk %}"> <img src="{{ post.image.url }}"
                                                                               width="{{ 360 }}"
                                                                               height="{{ 300 }}"/></a>
                        {% endif %}
                        {#                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>#}
                        {#                <p>{{ post.text|linebreaks }}</p>#}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
    <nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>

{% endblock content %}